body {
    background-color: #e6f2ff; /* 淺藍色 */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: auto; /* 确保内容可以滚动 */
}

.container {
    background-color: #fff; /* 白色背景 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* 让内容适应屏幕宽度 */
    max-width: 600px; /* 限制最大宽度 */
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.result, .definition {
    margin-top: 20px;
    text-align: left;
}

.definition {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.footer {
    text-align: right;
    font-size: 12px;
    font-style: italic;
    margin-top: 20px;
}
